@using AutoMed.DAL;
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.EntityFramework;
@model List<AutoMed.Models.DataModels.AutoMedUser>

@{
    ViewBag.Title = "Index";
}
<!-- DataTables CDN -->
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.13/css/dataTables.bootstrap.min.css" />
<h2>All Employees</h2>

<p>
    @Html.ActionLink("Register New Employee", "Register")
</p>
<table class="table table-striped" id="accounts-table">
    <thead>
        <tr>
            <th>
                Username
            </th>
            <th>
                Role
            </th>
            <th>
                Location
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        if (item.IsDeleted == false || item.IsDeleted == null)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>

                <td>
                    @{
                        ApplicationDbContext db = new ApplicationDbContext();
                        RoleManager<IdentityRole> roleManager = new RoleManager<IdentityRole>(new RoleStore<IdentityRole>(db));
                        string roleName = roleManager.FindById(item.Roles.First().RoleId).Name;
                        string locationName = item.Location.Name;
                     }
                    @roleName
                </td>
                <td>
                    @locationName
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
       }
    }
    </tbody>

</table>
@section Scripts {
    <script src="https://cdn.datatables.net/1.10.13/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.13/js/dataTables.bootstrap.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#employees-link").addClass("active");
            $('#accounts-table').dataTable({
                "fnDrawCallback": function (oSettings) {
                    if (oSettings._iDisplayLength > oSettings.fnRecordsDisplay()) {
                        $(oSettings.nTableWrapper).find('.dataTables_paginate').hide();
                        $(oSettings.nTableWrapper).find('.dataTables_length').hide();
                    }
                }
            });
        });
</script>
}
